.button {
	padding: 10px 30px;
	
	border: 0;
	outline: 0;
	border-radius: 0;
	box-shadow: 0;

	cursor: pointer;
}

.button.button--light {
	background: $color-white;
	color: $color-paragraph;
}

.button.button--styleLess {
	background: transparent;
	padding: 0;
}