/* Variables
   ========================================================================== */
/* Imports
   ========================================================================== */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 100%; }

.container.container--blog {
  margin-top: 100px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.column {
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.column--1xs {
  width: 100%; }

.column--2xs {
  width: 50%; }

.column--4xs {
  width: 33.33333%; }

@media (min-width: 750px) {
  .column--2sm {
    width: 50%; }
  .column--4sm {
    width: 33.33333%; } }

@media (min-width: 970px) {
  .column--2md {
    width: 50%; }
  .column--4md {
    width: 33.33333%; }
  .column--8md {
    width: 66.667%; } }

@media (min-width: 1170px) {
  .column--2lg {
    width: 50%; }
  .column--4lg {
    width: 33.33333%; } }

.button {
  padding: 10px 30px;
  border: 0;
  outline: 0;
  border-radius: 0;
  box-shadow: 0;
  cursor: pointer; }

.button.button--light {
  background: #FFFFFF;
  color: #111111; }

.button.button--styleLess {
  background: transparent;
  padding: 0; }

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none; }

.remodal,
[data-remodal-id] {
  display: none; }

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden; }

.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  display: inline-block; }

.remodal-overlay {
  background: rgba(255, 255, 255, 0.95); }

.remodal {
  width: 100%;
  margin-bottom: 10px;
  padding: 60px;
  background: #FFFFFF;
  transform: translate3d(0, 0, 0); }

.remodal-body {
  text-align: left; }

.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes; }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes; }

.remodal-close {
  position: absolute;
  top: 30px;
  right: 30px; }

/* Keyframes
   ========================================================================== */
@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0; }
  to {
    transform: none;
    opacity: 1; } }

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0.95);
    opacity: 0; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 750px) {
  .remodal {
    max-width: 900px; } }

.cssCloseIcon {
  display: inline-block;
  width: 37px;
  height: 37px;
  overflow: hidden; }
  .cssCloseIcon:not(.remodal-close) {
    position: relative; }
  .cssCloseIcon:before, .cssCloseIcon:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000000; }
  .cssCloseIcon:before {
    transform: rotate(45deg); }
  .cssCloseIcon:after {
    transform: rotate(-45deg); }
  .cssCloseIcon.thick:before, .cssCloseIcon.thick:after {
    height: 4px;
    margin-top: -2px; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }

h1, h2, h3 {
  font-weight: 400; }

h1 {
  font-size: 72px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

.u-spaceAfter {
  margin-bottom: 30px; }

.u-extraSpaceAfter {
  margin-bottom: 60px; }

.row:after, .imageGallery-row:after {
  content: "";
  display: table;
  clear: both; }

.imageGallery-row {
  list-style: none;
  margin: 0;
  padding: 0; }

.imageGallery-item {
  position: relative;
  float: left;
  width: 100%; }

@media (min-width: 420px) {
  .imageGallery-item {
    width: 50%; } }

@media (min-width: 750px) {
  .imageGallery-item {
    width: 25%; } }

.imageGallery-item:before {
  content: "";
  visibility: hidden;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 500ms ease all; }

.imageGallery-item:hover:before {
  visibility: visible;
  opacity: 1; }

.imageGallery-caption {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  transition: 400ms ease transform; }

.imageGallery-item:hover .imageGallery-caption {
  visibility: visible;
  transform: translate(-50%, -50%); }

.imageGallery-image {
  width: 100%;
  height: auto;
  display: block; }

.card {
  background: #f8f8f8;
  margin: 0 0 30px;
  text-align: center; }

@media (min-width: 970px) {
  .cards {
    display: table;
    border-spacing: 15px 0;
    margin: 0 -15px; }
  .card {
    display: table-cell;
    width: 33.3%;
    margin: 0;
    text-align: left; } }

.card-body {
  padding: 30px; }

.featureList {
  list-style: none;
  margin: 0;
  padding: 0; }

.featureList-item {
  background: #000000;
  color: #FFFFFF;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px; }

.featureList-item:not(:last-of-type) {
  margin-bottom: 15px; }

/* Navigation bar
   ========================================================================== */
.navBar {
  background: #FFFFFF;
  padding: 15px 0; }

.logo {
  width: 80px; }

.heroBanner {
  background: url("../images/mini_hero.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px; }

.heroBanner-title {
  color: #FFFFFF;
  line-height: 500px;
  text-align: center;
  margin: 0; }

/* Sections
   ========================================================================== */
.section-title {
  text-align: center;
  margin: 100px 0; }

/* Misc
   ========================================================================== */
img {
  height: auto;
  max-width: 100%; }

.videoPlayer {
  width: 100%; }

/* Footer
   ========================================================================== */
.siteFooter {
  color: #FFFFFF;
  background: #000000;
  margin-top: 100px;
  padding: 20px 0;
  text-align: center; }
